html {
    font-size: 125%;
}

body {
    background-color: tomato;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, a, p {
    font-family: sans-serif;
    color: darkblue;
}

